/* css for FC Mad Serif */

@font-face {
  font-family: "FC Mad Serif Light";
  src: url(FCMADSerif-Light.ttf);
}

@font-face {
  font-family: "FC Mad Serif Light Italic";
  src: url(FCMADSerif-LightItalic.ttf);
}

@font-face {
  font-family: "FC Mad Serif Regular";
  src: url(FCMADSerif-Regular.ttf);
}

@font-face {
  font-family: "FC Mad Serif Regular Italic";
  src: url(FCMADSerif-Italic.ttf);
}

@font-face {
  font-family: "FC Mad Serif Bold";
  src: url(FCMADSerif-Bold.ttf);
}

@font-face {
  font-family: "FC Mad Serif Bold Italic";
  src: url(FCMADSerif-BoldItalic.ttf);
}

@font-face {
  font-family: "FC Mad Serif Black";
  src: url(FCMADSerif-Black.ttf);
}

@font-face {
  font-family: "FC Mad Serif Black Italic";
  src: url(FCMADSerif-BlackItalic.ttf);
}

@font-face {
  font-family: "FC Mad Serif Fill Light";
  src: url(FCMADSerifFill-Light.ttf);
}

@font-face {
  font-family: "FC Mad Serif Fill Light Italic";
  src: url(FCMADSerifFill-LightItalic.ttf);
}

@font-face {
  font-family: "FC Mad Serif Fill Regular";
  src: url(FCMADSerifFill-Regular.ttf);
}

@font-face {
  font-family: "FC Mad Serif Fill Regular Italic";
  src: url(FCMADSerifFill-Italic.ttf);
}

@font-face {
  font-family: "FC Mad Serif Fill Bold";
  src: url(FCMADSerifFill-Bold.ttf);
}

@font-face {
  font-family: "FC Mad Serif Fill Bold Italic";
  src: url(FCMADSerifFill-BoldItalic.ttf);
}

@font-face {
  font-family: "FC Mad Serif Fill Black";
  src: url(FCMADSerifFill-Black.ttf);
}

@font-face {
  font-family: "FC Mad Serif Fill Black Italic";
  src: url(FCMADSerifFill-BlackItalic.ttf);
}

body {
    background: #ffffff;
}