---
---


h1 {
    font-family: Menlo-Bold;
    font-size: 8vw;
    text-align: center;
    background: linear-gradient(90deg, rgba(94,94,94,1) 0%, rgba(255,255,0,1) 40%, rgba(255,255,0,1) 60%, rgba(252,0,105,1) 97%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

