@font-face {
  font-family: FC PDU Regular;
  src: url(FCPDU-Regular.ttf);
}

@font-face {
  font-family: FC PDU Stencil;
  src: url(FCPDU-Stencil.ttf);
}

@font-face {
  font-family: FC PDU Outline;
  src: url(FCPDU-Outline.ttf);
}

@font-face {
  font-family: FC PDU Pattern Regular;
  src: url(FCPDU-PatternRegular.ttf);
}

@font-face {
  font-family: FC PDU Pattern Stencil;
  src: url(FCPDU-PatternStencil.ttf);
}

@font-face {
  font-family: FC PDU Pattern Outline;
  src: url(FCPDU-PatternOutline.ttf);
}

body {
    background: ffdfc6;
}