---
layout: default
---

{% if page.draft %}
{% if page.splash %}
<section class="hero">
    <figure><img src="{{ page.url }}{{ page.splash }}"></figure>
</section>
{% endif %}
{% else %}
{% assign font_styles = "" | split: ','  %}
{% for styleItem in page.styles %}
    {% for style in styleItem %}
        {% assign font_styles = font_styles | push: style[0] %}
    {% endfor %}
{% endfor %}

<script type="text/javascript">
const font_styles = [{% for style in font_styles %}"{{ style }}"{% unless forloop.last %},{% endunless -%}{% endfor %}];
</script>

{% if page.splash %}
<section class="hero">
    <figure><img src="{{ page.url }}{{ page.splash }}"></figure>
</section>
{% endif %}

{% if page.showcases %}
<section class="showcase">
    <div id="zones" style="font-family: '{{ font_styles[0] }}';">
    {% for showcase in page.showcases %}
        <p class="zone" spellcheck="false">{{ showcase }}</p>
    {% endfor %}
    </div>
    <div id="zone-fontname" class="btn">{{ font_styles[0] }}</div>
</section>
{% endif %}

{{ content }}

{% if page.about %}
<section class="about">
    <div class="about-title">
        <h3 class="section-title">Information</h3>
        <h3 class="section-title">FC.{{ page.date | date: "%Y" }}.{{ page.date | date: "%m" }}</h3>
    </div>
    <div class="text-content">
        {% for about in page.about %}
        <div>
            <div>
                {% if about.image %}
                <figure>
                <img src="{{ page.url }}{{ about.image }}">
                    {% if about.caption %}<figcaption>{{ about.caption }}</figcaption>{% endif %}
                </figure>
                {% endif %}
            </div>
            <div>
                {% if about.text %}
                    {{ about.text | markdownify }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% if page.testers %}
<section class="testers">
{% for tester in page.testers %}
    <div class="tester" id="tester-{{ forloop.index }}">
        <div class="controls">
            <div class="select-font">
                 <select>
                 {% for style in font_styles %}
                    <option value="{{ style }}"{%if style == tester.fontStyle %} selected{% endif %}>{{ style }}</option>
                 {% endfor %}
                 </select>
            </div>

            {% if page.fontVariations %}
            <div class="select-fontVariation">
                <form>
                {% for fontVariationItem in page.fontVariations %}
                    {% for fontVariation in fontVariationItem %}
                        {% assign fontVariationsDefaultValue = fontVariation[1].defaultValue %}
                        {% for testerFontVariationsItem in tester.fontVariations %}
                            {% for testerFontVariations in testerFontVariationsItem %}
                                {% if testerFontVariations[0] == fontVariation[0] %}
                                    {% assign fontVariationsDefaultValue = testerFontVariations[1] %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <div><div class="fontVariation-name">{{ fontVariation[1].name }}</div> <input type="range" data-font-variation-tag="{{ fontVariation[0] }}" min="{{ fontVariation[1].minValue }}" max="{{ fontVariation[1].maxValue }}" value="{{ fontVariationsDefaultValue }}"  step="0.001" class="slider"></div>
                    {% endfor %}
                {% endfor %}
                </form>
            </div>
            {% endif %}

            {% if page.openTypeFeatures %}
            <div class="select-feature">
                <form>
                {% for openTypeFeatureItem in page.openTypeFeatures %}
                    {% for openTypeFeature in openTypeFeatureItem %}
                        <div><input type="checkbox" id="tester-{{ forloop.parentloop.parentloop.index }}-{{ openTypeFeature[0] }}-{{ forloop.parentloop.index }}" value="{{ openTypeFeature[0] }}"{% if tester.features contains openTypeFeature[0] %} checked{% endif %}><label for="tester-{{ forloop.parentloop.parentloop.index }}-{{ openTypeFeature[0] }}-{{ forloop.parentloop.index }}">{{ openTypeFeature[1].name }}</label></div>
                    {% endfor %}
                {% endfor %}
                </form>
            </div>
            {% endif %}
            <div class="select-size">
                <input type="range" min="14" max="200" value="{% if tester.fontSize %}{{ tester.fontSize }}{% else %}100{% endif %}" class="slider">
            </div>
        </div>
        <div class="preview">
            <p contenteditable="true" spellcheck="false">{{ tester.text }}</p>
        </div>
    </div>
{% endfor %}
</section>
{% endif %}

{% if page.research %}
<section class="research">
    <div class="research-title">
        <h3 class="section-title">Research</h3>
    </div>
    <div class="research-content expandable">
        {{ page.research | markdownify }}
        <a href="#" class="btn expand">&#8595; Expand &#8595;</a>
    </div>
</section>
{% endif %}

<section class="details">
    <div class="information">
        <h2 class="section-title">Information</h2>
        <div>
            <p>{{ page.information }}</p>
            <ul class="short-info">
                <li><span>Designer: </span>{{ page.designer }}</li>
                <li><span>Release Date: </span>{{ page.date | date: "%Y" }}</li>
            </ul>
        </div>
    </div>

    {% if page.openTypeFeatures %}
    <div class="opentype">
        <h2 class="section-title">Opentype features</h2>
        <div>
            <div class="preview" id="features">
                {% for openTypeFeatureItem in page.openTypeFeatures %}
                    {% for openTypeFeature in openTypeFeatureItem %}
                        {% assign featuretags = openTypeFeature[0] | split: "+" %}
                        {% if openTypeFeature[1].examples %}
                            <div class="style-row" style="font-family: '{{ openTypeFeature[1].fontStyle }}';">
                                <p class="meta"><span>{{ openTypeFeature[1].name }}</span><span>{{ openTypeFeature[0] }}</span></p>
                                {% for example in openTypeFeature[1].examples %}
                                    <p class="features-example"><span>{{ example }}</span><span class="features-example-divider">-></span><span style="font-feature-settings: {% for tag in featuretags %}'{{ tag }}'{% unless forloop.last %}, {% endunless -%}{% endfor %};">{{ example }}</span></p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <a href="#" class="btn expand">&#8595; Expand &#8595;</a>
    </div>
    {% endif %}

    <div class="characterSets">
        <h2 class="section-title">Glyphs sheet</h2>
        <div>
            <div class="controls">
                <div class="select-font select">
                    <select>
                        {% for style in font_styles %}
                            <option value="{{ style }}" {% if forloop.first == true %}selected{% endif %}>{{ style }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="preview characterSets-viewer">
            {% for styleItem in page.styles %}
                {% for style in styleItem %}
                    <div class="characterSet" style="font-family: '{{ style[0] }}';">
                    {% for characterset in style[1].characterset %}
                        <p class="meta">{{ characterset[0] }}</p>
                        {% assign characters = characterset[1] | split: " " %}
                        {% for char in characters %}
                            {% assign opentypeFeatureSeparator = char | slice: 1, 1 %}
                            {% if opentypeFeatureSeparator == "-" %}
                                {% assign opentypeFeatureTag = char | slice: -4, 4 %}
                            {% else %}
                                {% assign opentypeFeatureTag = "normal" %}
                            {% endif %}
                                <div class="glyph" style="font-feature-settings: '{{ opentypeFeatureTag }}';">
                                    <span class="glyph-preview">{{ char | slice: 0, 1 }}</span>
                                </div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        <a href="#" class="btn expand">&#8595; Expand &#8595;</a>
    </div>

    {% if page.languageSupport %}
    <div class="languageSupport expandable">
        <h2 class="section-title">Language Support</h2>
        <div class="language-list">
            {% for language in page.languageSupport %}
            <div class="language">
                <h3>{{ language[0] }}</h3>
                <p>{{ language[1] }}</p>
            </div>
            {% endfor %}
        </div>
        <a href="#" class="btn expand">&#8595; Expand &#8595;</a>
    </div>
    {% endif %}
</section>

<section class="buy">
    <h2 class="f2">Get it!</h2>
    <ul class="buy-btns">
        {% if page.specimen %}
        <li><a href="{{ page.specimen }}" download>PDF Specimen</a></li>
        {% endif %}
        {% if page.fastspring %}
        <li><a href="/shop#{{ page.fastspring[0].name }}?trial=true">Get Trials</a></li>
        <li><a href="/shop#{{ page.fastspring[0].name }}">Buy Font</a></li>
        {% endif %}
    </ul>
</section>

{% if page.font_match %}
{% include library fontcount=3 %}
{% endif %}
{% endif %}