---
layout: page
---


{% if page.splash %}
    <img src="{{ page.url }}{{ page.splash }}">
{% endif %}


{{ content }}

{% if page.in-use %}
    <div>
    <h4>In use:</h4>
    {% for item in page.in-use %}
        {% for image in item %}
            <img src="{{ page.url }}{{ image[0] }}">
            {{ image[1] }}
        {% endfor %}
    {% endfor %}
    </div>
{% endif %}

{% for previewFont in page.preview-fonts %}
    {% for items in page.openTypeFeatures %}
        <div>
        <h4>OpenType Features:</h4>
        <div style="font-family:{{ previewFont }}">
        {% for openTypeFeature in items%}
            {% for text in openTypeFeature[1] %}
                <span>{{ text }}</span> --> <span style="font-feature-settings: {{ openTypeFeature[0] }} : 1">{{ text }}</span>
            {% endfor %}
        {% endfor %}
        </div>
        </div>
    {% endfor %}
{% endfor %}


{% if page.characterSets %}
    <div class="character-set">
    <h4>Character Set:</h4>
    {% for previewFont in page.preview-fonts %}
        <ul>
        {% for item in page.characterSets %}
            {% for characterSet in item %}
                <li class="character-set-divider">{{ characterSet[0] }}</li>
                {% assign characters = characterSet[1] | split: " " %}
                {% for char in characters %}
                    <li style="font-family:{{ previewFont }}">{{ char }}</li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </ul>
    {% endfor %}
    </div>
{% endif %}

{% if page.products %}
    <div>
    <h4>Fonts:</h4>
    <ul>
    {% for product in page.products %}
        <li>{{ product }}</li>
    {% endfor %}
    </ui>
    </div>
{% endif %}