<!doctype html>
<html lang="en">
<head>
	<title>{{ site.name }}</title>

	{% include META %}
	{% include HEAD %}

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/screen.css" />

	<script src="{{ site.baseurl }}/main.js?v=1"></script>
	<script src="{{ site.baseurl }}/shop.js?v=1"></script>
	
	<script
		id="fsc-api"
		src="https://sbl.onfastspring.com/sbl/1.0.1/fastspring-builder.min.js"
		type="text/javascript"
		data-storefront="fontclubbelgica.test.onfastspring.com/popup-fontclubbelgica">
	</script>

</head>
<body class="{{ page.path | replace: '.md', '' | split: '/' | last }}">

{% include header %}

<main class="shop">
	<section id="select" class="open">
		<h2>Font Family</h2>
		<div class="grid">
			{% for typeface in site.typefaces %}
			{% if typeface.fastspring %}
			<div class="preview-font-shop" data-fsid='{{ typeface.fastspring[0].name }}' data-styles='{{ typeface.fastspring[0].family | jsonify }}'>
				<figure><img src="{{ typeface.url }}{{ typeface.library_preview[0] }}"></figure>
				<div class="font-info">
					<h2>{{ typeface.title }}</h2>
					<p class="total">{{ typeface.styles | size }} styles</p>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<button class="next" disabled>Select your license</button>
	</section>
	<section id="license" class="open">
		<h2>License</h2>
		<div>
			<form>
				<fieldset id="license-type">
					<p>You need a license for</p>
					<div>
					<input type="checkbox" id="license-desktop" name="license-desktop" value="desktop">
					<label for="license-desktop"> Desktop / Print / Logo </label>
					<input type="checkbox" id="license-web" name="license-web" value="web">
					<label for="license-web"> Website </label>
					<input type="checkbox" id="license-broadcast" name="license-broadcast" value="broadcast">
					<label for="license-broadcast"> Video / Broadcast </label>
					<input type="checkbox" id="license-trial" name="license-trial" value="trial">
					<label for="license-trial"> Testing / Trials </label>
					<input type="checkbox" id="license-app" name="license-app" value="app">
					<label for="license-app"> Application </label>
					</div>
					<div class="info">
						<p>Please select any and all that apply to the project and we will select the licenses needed.</p>
					</div>
				</fieldset>
				<fieldset id="desktop-size-field">
					<p>With up to <select id="desktop-size">
						<option disabled value selected>?</option>
						{% for tier in page.tiers.desktop %}
						  <option value="desktop-{{ tier[0] }}">{{ tier[1] }}</option>
						{% endfor %}
					</select> people using the fonts on their computer.</p>
					<div class="info">
						<p>This includes both any computer used by inhouse and external desigers during the full duration of the project.</p>
					</div>
				</fieldset>
				<fieldset id="web-size-field">
					<p>There are <select id="web-size">
							<option disabled value selected>?</option>
							{% for tier in page.tiers.web %}
							  <option value="web-{{ tier[0] }}">{{ tier[1] }}</option>
							{% endfor %}
						</select> people working for the organization</p>
						<div class="info">
							<p>This includes any and all internal and external employees working for the client irregardless wether they are using the fonts.</p>
						</div>
				</fieldset>
				<p id="quote">Please contact us on licensing@fontclubbelgica.xyz for a custom quote.</p>
			</form>
		</div>
		<button class="next" disabled>Select your font styles</button>
	</section>
	<section id="styles" class="open">
		<h2>Styles</h2>
		<div id="container"></div>
		<div class="total">
			<table>
				<tr><td>TAX</td><td><span data-fsc-order-tax></span></td></tr>
				<tr><td>TOTAL</td><td><span data-fsc-order-total></span></td></tr>
			</table>
		</div>
		<button class="next" data-fsc-action="Checkout">
			View Cart
		</button>
	</section>
	<section id="checkout" class="open">
		<h2>Your information</h2>
		<div></div>
		<button class="next" disabled>Proceed to payment</button>
	</section>
</main>

{% include footer %}

</body>
</html>