/* css for FC Mad Sans */

@font-face {
  font-family: "FC Mad Sans Light";
  src: url(FCMADSans-Light.ttf);
}

@font-face {
  font-family: "FC Mad Sans Light Italic";
  src: url(FCMADSans-LightItalic.ttf);
}

@font-face {
  font-family: "FC Mad Sans Regular";
  src: url(FCMADSans-Regular.ttf);
}

@font-face {
  font-family: "FC Mad Sans Regular Italic";
  src: url(FCMADSans-Italic.ttf);
}

@font-face {
  font-family: "FC Mad Sans Bold";
  src: url(FCMADSans-Bold.ttf);
}

@font-face {
  font-family: "FC Mad Sans Bold Italic";
  src: url(FCMADSans-BoldItalic.ttf);
}

@font-face {
  font-family: "FC Mad Sans Black";
  src: url(FCMADSans-Black.ttf);
}

@font-face {
  font-family: "FC Mad Sans Black Italic";
  src: url(FCMADSans-BlackItalic.ttf);
}

@font-face {
  font-family: "FC Mad Sans Fill Light";
  src: url(FCMADSansFill-Light.ttf);
}

@font-face {
  font-family: "FC Mad Sans Fill Light Italic";
  src: url(FCMADSansFill-LightItalic.ttf);
}

@font-face {
  font-family: "FC Mad Sans Fill Regular";
  src: url(FCMADSansFill-Regular.ttf);
}

@font-face {
  font-family: "FC Mad Sans Fill Regular Italic";
  src: url(FCMADSansFill-Italic.ttf);
}

@font-face {
  font-family: "FC Mad Sans Fill Bold";
  src: url(FCMADSansFill-Bold.ttf);
}

@font-face {
  font-family: "FC Mad Sans Fill Bold Italic";
  src: url(FCMADSansFill-BoldItalic.ttf);
}

@font-face {
  font-family: "FC Mad Sans Fill Black";
  src: url(FCMADSansFill-Black.ttf);
}

@font-face {
  font-family: "FC Mad Sans Fill Black Italic";
  src: url(FCMADSansFill-BlackItalic.ttf);
}

@font-face {
  font-family: "FC MAD Sans Black";
  src: url(data:font/woff;base64,), format('woff2');
}


body {
    background: #003cff;
}